/*=====tablas=====*/
th{
      border:  #374F6C 5px solid;
      color: white;
      }
      table {
      border: #374F6C 5px solid;
      }
      td {
      border:  #374F6C 5px solid;
      color: white;
      }
      h1{
        color: black;
      }
       
      dd{
        color: blue;
      }
      li{
        color: orange;
      }
      .negro{
        color: black;
      }
      .b{
        color: white;
      }